@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poiret+One&family=Source+Code+Pro&family=Tajawal:wght@300&display=swap');

body{
    font-size: 24pt;
    /* background: url('pexels-pixabay-268941.jpg'); */
    background: url('pexels-pixabay-268941.jpg');
    background-attachment: fixed;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Kumbh Sans', sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    width: 50vw;
    margin:auto;
    color: #111213;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
}

.holder{
    background-color: rgba(226, 223, 223, 0.7);
    border-radius: 15px;
    padding: 15px;
}

.entry{
    font-family: 'Tajawal', sans-serif;
    padding: 8px;
}

.zip .feelings {
    text-align: center;

}
#entryHolder{
    font-family: 'Kumbh Sans', sans-serif;
    padding: 10px;
    background-color: rgba(218, 219, 219, 0.7)
}

#date{
    padding-right: 10px;
    text-align: right;
}

#temp{
    font-family: 'Kumbh Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px dashed darkgray;
    text-align: center;
}

#content{
    padding: 5px;

}

.headline {
    font-size: 2rem;
    background-color: rgba(31, 27, 26, 0.4);
    height: 150px;
}
.title{
    letter-spacing: 2px;
    font-size: 1.3rem;
    padding: 10px;
    border-bottom: 1px solid black;
}

.zip {
    font-size: 1.5rem;

}

#zip {
    height: 50px;
}
.feel {
    font-size: 1.5rem;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display: block;
}

input{
    display: block;
    font-family: 'Source Code Pro';
    font-size: 1.5rem;

}


input::selection {
    color: rgb(224, 220, 224);
    background: rgb(66, 66, 66);
}


button{
    display: block;
    height: 50px;
    font-family: 'oswald';
    font-size: 1.3rem;
    margin-top: 8px;
    background-color: #17181a;
    color: rgb(230, 230, 230);
    
}
h1{
    font-family: 'Poiret One', sans-serif;
    color: rgb(196, 198, 199);
}

textarea{
    display: block;
    font-family: 'Source Code Pro';
    padding: 2px;
}

textarea::selection {
    color: rgb(224, 220, 224);
    background: rgb(66, 66, 66);
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-size: 1.25rem;
    color: #919090; 
    font-family: 'Kumbh Sans', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #919090; 
    font-family: 'Kumbh Sans', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #919090; 
    font-family: 'Kumbh Sans', sans-serif;

} 